$main-font: 'Roboto', Arial, sans-serif;

// Size
$main-font-color: #101010;
$main-font-size: 16px;
$small-font-size: 14px;
$main-font-weight: 400;
$main-line-height: 1.4;

$lgDesktopWidth: 2560px;
$desktopWidth: 1280px;
$smDesktopWidth: 980px;
$tableWidth: 768px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;

// Main color
$default-color: #fff;
$primary-color: #7fd5e0;
$primary-color-dark: #406b70;
$success-color: #26de81;
$danger-color: #fc5c65;
$warning-color: #fed330;
$light-color: #999;
$purple-color: #8854d0;
$dark-color: #101b1c;
$navbar-color: rgba(0, 0, 0, 0.5);
$dark-color-text: rgba(0, 0, 0, 0.8);
$dark-color2: #272424;
$white-color: #fff !default;

// Neutral Color
$neutral-primary: #303133;
$neutral-regular: #606266;
$neutral-secondary: #909399;
$neutral-placeholder: #c0c4cc;

//Theme color
$shades-primary: #7fd5e0;
$shades-regular: #6fbac4;
$shades-secondary: #5fa0a8;
$shades-placeholder: #4f858c;
$shades-low-dark: #406b70;
$shades-mid-dark: #305054;
$shades-mid-dark-second: #3e5255;
$shades-hight-dark: #203538;
$shades-over-dark: #101b1c;

$shades-gradient-1: rgba(0, 169, 196, 1);
$shades-gradient-2: rgba(57, 177, 197, 0.8715861344537815);

$shades-gradient-3: #00a9c4;
$shades-gradient-4: #0088d6;
$shades-gradient: rgba(247, 247, 247, 0) !default;

// Border Color
$border-base: #dcdfe6;
$border-light: #e4e7ed;
$border-lighter: #ebeef5;
$border-lightex: #f2f6fc;

//Card Item Color

$color-1: #000;
$color-2: #fff;
$background-color-1: #ededed99;
$background-color-2: transparent;
