.loadmore{
    position: relative;
}

.load-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    margin: 15px 0px; 
}

.cardview{
    margin: 0 0 0 10px;
    -webkit-transition: .3s;
    transition: .3s;
    position: relative;
    display: inline-block;
    
}

.cardview:hover{
    cursor: pointer;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.cardview-container{
    width: 100%;
    position: relative;
    text-align: right;
    align-items: right;
    justify-content: right;
    margin-bottom: 15px;
}