.page-footer{
    background-color: #ececec;
}

.footer-icon{
    width: 20px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
}