.card-org{
    border-radius: 0px;
    border: none;
    margin-bottom: 50px;
    cursor: pointer;
    /* box-shadow: 0px 0px 100px -35px rgba(117, 117, 117, 0.75); */
    z-index: 2;
    display: inline-block;
    height: auto;
    max-width: 100%;
}

.card-org:hover{
    transition: all 0.1s ease-in-out 0.1s;
    -webkit-transition: all 0.1s ease-in-out;
    /* box-shadow: 0px 0px 70px -10px #0075b4; */
    box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.5);
}

.card-org-img{
    display: inline-block;
    height: auto;
    max-width: 100%;
}

.card-org-body{

}

.bottom-container{
    
}
