.back_to_top {
  bottom: rem(30);
  cursor: pointer;
  display: none;
  position: fixed;
  right: rem(20);
  z-index: 9999;
}

.btn-circle {
  border-radius: 35px;
  height: rem(50);
  width: rem(50);
}

.btn-circle-search {
  border-radius: 35px;
  height: rem(40);
  width: rem(40);
}

.btn-circle-search-svg {
  transform: translate(-7.5px, -2px);
}

.back_to_top-show {
  display: block;
}

// button load more
// .loadmore {
//   -webkit-transition: all 0.3s ease-in-out;
//   -moz--transition: all 0.3s ease-in-out;
//   transition: all 0.2s ease-in-out;
// }
// .loadmore:hover {
//   -webkit-transition: all 0.3s ease-in-out;
//   -moz--transition: all 0.3s ease-in-out;
//   transition: all 0.2s ease-in-out;
//   background-color: $shades-hight-dark;
//   border-color: $shades-hight-dark;
//   // box-shadow: 0px 0px 8px 2px $dark-color;
// }
