.back-to-top {
  bottom: rem(30);
  cursor: pointer;
  display: none;
  position: fixed;
  right: rem(20);
  z-index: 9999;

  &__show {
    display: block;
  }
}

.btn-circle {
  border-radius: 35px;
  height: rem(50);
  width: rem(50);
}

.btn-circle-search {
  border-radius: 35px;
  height: rem(40);
  width: rem(40);
}

.btn-circle-search-svg {
  transform: translate(-7.5px, -2px);
}
