.card-catalog {
  border: 0;
  border-radius: 0;
  cursor: pointer;
  float: left;
  overflow: hidden;
  position: relative;

  &:hover {
    box-shadow: 0 0 20px 1px transparentize($black, 0.5);
    transition: all 0.1s ease-out 0.1s;
  }

  &__img {
    display: block;
    height: 250px;
    min-width: 350px;
    transition: all 0.4s ease-in;
    width: 100%;
  }

  &__body {
    border: 0;
    color: $color-1;
    font-weight: 300;
    min-height: 190px;
  }

  &__title {
    font-size: $main-font-size;
  }

  .overlay {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
  }

  a.info {
    background: transparentize($black, 0.4);
    color: $color-2;
    display: inline-block;
    font-size: $main-font-size;
    margin: 100px 0 0;
    padding: 10px 30px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
  }
}
// .card-catalog-img {
//   border: none;
//   border-radius: 0;
//   height: 250px;
// }

.card-text {
  font-size: $small-font-size;
}
.hovereffect {
  float: left;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.card-height {
  max-height: rem(350);
}

.card-height-test {
  max-height: rem(350);
}

.line {
  border: 0;
  bottom: -19px;
  height: 2px;
  left: 50%;
  position: absolute;
  width: 0;
}

.line-2 {
  border: 0;
  bottom: -19px;
  height: 5px;
  left: 50%;
  position: absolute;
  width: 0;
}

.shadow-effect {
  transition: all 0.3s ease-in-out;
}

.show-about {
  display: none;
}

.card-height:hover,
.card-height-list:hover {
  .shadow-effect {
    box-shadow: 0 0 20px -10px transparentize($shades-secondary, 0.7);
    transition: all 0.3s ease-in-out;
  }

  .line-2 {
    box-shadow: 0 0 20px 1px transparentize($shades-secondary, 0.5);
    display: inline-block;
    transform: translateX(-50%);
    transition: width 0.3s ease-in-out;
    width: 100%;
  }

  .line {
    box-shadow: 0 0 20px 1px transparentize($shades-secondary, 0.5);
    display: inline-block;
    transform: translateX(-50%);
    transition: width 0.3s ease-in-out;
    width: 91%;
  }

  .show-about {
    animation: fadeInUp 0.3s;
    display: block;
  }

  .img-org-logo {
    animation: pulse 0.3s;
  }
}
