.card-org {
  border: 0;
  border-radius: 0;
  color: $color-1;
  cursor: pointer;
  display: inline-block;
  height: auto;
  margin-bottom: 50px;
  max-width: 100%;
  z-index: 2;

  &:hover {
    box-shadow: 0 0 20px 1px transparentize($black, 0.5);
    transition: all 0.1s ease-in-out 0.1s;
  }

  &__img {
    display: inline-block;
    height: auto;
    max-width: 100%;
  }

  &__body {
    background-color: $background-color-1;
  }
}

a {
  text-decoration: none;
}
// .org-or-programs {
// 	min-height: 865px;
// }

.button-custom {
  bottom: 0;
  left: 0;
  margin: auto;
  min-height: rem(50);
  position: absolute;
  right: 0;
}
