.footer-icon {
  background: no-repeat center;
  background-size: cover;
  height: 20px;
  position: relative;
  width: 20px;
}

.hr-footer {
  background-image: linear-gradient(left, transparent, transparentize($black, 0.25), transparent);
  border: 0;
  height: 1px;
}
