.brand-img {
  fill: $primary-color;
  width: rem(45);
}

.navbar-brand {
  display: inline flex;
  margin-right: 0;
  padding-top: 0.3rem;
}

.navbar-text-small {
  font-size: rem(12);
}

.bg-img {
  background-attachment: fixed;
  background-size: cover;
  position: absolute;
  width: 100%;
  z-index: -99999;
}

.dropdown-menu {
  left: rem(-30);
}

.nav-item {
  padding-right: 0.5rem;
}
