//Menu Header

@mixin background-opacity($color, $opacity: 0.3) {
  background: $color;
  background-color: rgba($color, $opacity);
}

.header {
  @include background-opacity($shades-over-dark, 0.8);
  background: $shades-over-dark;
  display: block;
  height: 50px;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  transition: all 0.4s ease-out, background 1s ease-out;
  width: 100%;
  z-index: 1;

  .menu-open {
    background: $shades-over-dark;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-right: 15px;
    transition: all 0.45s ease-out, background 0.8s ease-out;

    .menu-item {
      opacity: 1;

      &:nth-child(1) {
        transition-delay: 0.05s;
      }

      &:nth-child(2) {
        transition-delay: 0.1s;
      }

      &:nth-child(3) {
        transition-delay: 0.15s;
      }

      &:nth-child(4) {
        transition-delay: 0.2s;
      }

      &:nth-child(5) {
        transition-delay: 0.25s;
      }

      &:nth-child(6) {
        transition-delay: 0.3s;
      }

      &:nth-child(7) {
        transition-delay: 0.35s;
      }
    }

    .back-to-top {
      display: none;
    }
  }
}

//Menu List items
.mobile-menu {
  clear: both;
}

.header ul.menu {
  display: block;
  list-style: none;
  padding: 0 40px;
  position: relative;

  .menu-item {
    border-bottom: 1px solid $menu-border-bottom-color;
    margin-top: 5px;
    opacity: 0;
    transition: opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99),
      -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);

    &:nth-child(1) {
      transition-delay: 0.35s;
    }

    &:nth-child(2) {
      transition-delay: 0.3s;
    }

    &:nth-child(3) {
      transition-delay: 0.25s;
    }

    &:nth-child(4) {
      transition-delay: 0.2s;
    }

    &:nth-child(5) {
      transition-delay: 0.15s;
    }

    &:nth-child(6) {
      transition-delay: 0.1s;
    }

    &:nth-child(7) {
      transition-delay: 0.05s;
    }

    a {
      color: $white;
      display: block;
      font-size: 18px;
      line-height: 2.8;
      position: relative;
      -webkit-tap-highlight-color: transparent;
      text-decoration: none;
      width: 100%;
    }
  }
}

/* Menu Icon */
.icon-container {
  cursor: pointer;
  float: right;
  position: relative;
  // height: 55px;
  // width: 55px;
  -webkit-tap-highlight-color: transparent;
  // -webkit-transform: rotate(0deg);
  // transform: rotate(0deg);
  transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  // Simply change property to float left to switch icon side :)
  z-index: 2;
}

.icon-container #menuicon {
  height: 32px;
  position: relative;
  width: 32px;
  // margin: -8px auto 0;
  // top: 50%;
}

#menuicon .bar {
  background: $white;
  height: 1px;
  margin-top: 7px;
  position: relative;
  transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  width: 100%;
}

.menu-open .icon-container #menuicon .bar {
  transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition-delay: 0.1s;

  &.bar1 {
    // -webkit-transform: translateY(4px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }

  &.bar3 {
    // -webkit-transform: translateY(3px) rotate(-60deg);
    transform: translateY(-8px) rotate(-45deg);
  }

  &.bar2 {
    transform: translateX(-100%);
    width: 0;
  }
}
