.t-site-search-close {
  bottom: 0;
  box-sizing: content-box;
  display: none;
  fill: #b6b6b6;
  margin: auto 0;
  padding-left: 20px;
  padding-right: 10px;
  position: absolute;
  right: 0;
  top: 0;
  width: 1.5rem;
}

.show_close {
  display: block !important;
}

.t838__blockinput {
  display: table-cell;
  height: 100%;
  position: relative;
  vertical-align: middle;
  width: 100%;
}

.t-site-search-input {
  display: table;
  width: 100%;
}

.t-input {
  border-radius: 35px;
  padding-right: rem(54);
}

.is-show {
  display: flex;
}

.is-hidden {
  display: none;
}
